# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Production
/dist

# Misc
.DS_Store

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# VS Code
/.vscode/
